<ap-about-directive 
	title = "<%= t ('about.title') %>" 
	par1  = "<%= t ('about.p1') %>" 
	par2  = "<%= t ('about.p2') %>"
	howq1 = "<%= t ('howitworks.q1') %>"
	howa1 = "<%= t ('howitworks.a1') %>"
	howq2 = "<%= t ('howitworks.q2') %>"
	howa2 = "<%= t ('howitworks.a2') %>"
	howq3 = "<%= t ('howitworks.q3') %>"
	howa3 = "<%= t ('howitworks.a3') %>"
	howq4 = "<%= t ('howitworks.q4') %>"
	howa4 = "<%= t ('howitworks.a4') %>"
	howq5 = "<%= t ('howitworks.q5') %>"
	howa5 = "<%= t ('howitworks.a5') %>">	
</ap-about-directive>

<section id="donation" class="step1">
	<div class="fondo"></div>
	<div class="ornamental"></div>

	<ap-donation-directive>
		<div id="container_app" ng-controller="authenticationCtrl" >
		<span  ng-show="!loggedIn">
			<%= image_tag 'donationbgOff2.png', :class => 'title' %>
		</span>

			<div ng-show="!loggedIn"> 
				<p class="copy" ><%= t ('donate.copy1') %></p>
				<p id="DonateFacebook" class="buttonCont" ng-click="IntentLog()">
					<%= image_tag 'donationbuttonfb.png', :class => 'click' %>
				</p>
				<p class="buttonCont" >
					<%= image_tag 'donationbutton.png', :class => 'click' %>
				</p>
			</div>

			
			<div ng-show="loggedIn">
				<p class="copy" ><%= t ('donate.copy2') %></p>
				<div ng-controller="paymentCtrl">  
				
				<ul id="itemsFlow">
				
				<% @items.each do |item| %>
					<li class="item">	
						
						<div class="itemView">
							<figure>
								<%= image_tag item.img %>
								
							</figure>
							<div class="infoItem">
							
								<div class="itemSpec">	
									<p class="item_name green">
										<%=item.name %>
									</p>	
									<p class="item_des">
										<%=item.description %>
									</p>		
								</div>
								<div class="ownerSpec">
									<p class="green"><%= t ('donate.owner') %></p>
									<p><%=item.user.name %></p>	
								</div>
							</div>

							<figure>
								<img ng-src="http://graph.facebook.com/<%=item.user.fb_id %>/picture?width=100&height=100" alt="">
							</figure>
							
						</div>

						<form id="buyy" method="post" name="buyy">
							<input type="hidden" name="cmd" id="cmd" value="_s-xclick">
							<input type="hidden" name="encrypted" id="encrypted">
							<p>
								<span ng-click="Checkout( '<%= item.description %>' )">
									<%= image_tag 'donatebutton.png'%>
									
								</span>
							</p>
						</form>
		
					</li>

				<% end %>
				</ul>

				</div>

			</div>
		</div>
	</ap-donation-directive>

</section>
	

