<div>
	<h1>App that connects with Facebook</h1>
	<div ng-controller="authenticationCtrl" >
		
		<button ng-show="!loggedIn" ng-click="IntentLog()">Facebook</button>
		<div id="status">
		</div>
		<div ng-show="loggedIn">
			<!-- <img  id="photoUrl" src="" alt=""> -->
			<div ng-controller="paymentCtrl">  
	
			<% @items.each do |item| %>
				<div class="item">	
					<span class="item_des">
						<%=item.description %>
					</span>				
					<span class="item_condition">
						<%=item.condition.description %>
					</span>
					<span class="item_belong">
						<%=item.user.name %>
						<img src="http://graph.facebook.com/<%=item.user.fb_id %>/picture?type=small" alt="">
					</span>
						
					<%=item.img %>
					<div ng-click="CloseLightBox( <%=item.id %> )"> Change </div>

					<input type="email" ng-model="donateData.email">

					<div ng-click="Checkout('<%= item.description %>', '<%= newOwner_url %>')" >Checkout</div>
					
					
				

				</div>
			<% end %>

				
				

			</div>

		</div>
		
	</div>
</div>
	

