<ap-about-directive 
	title = "<%= t ('about.title') %>" 
	par1  = "<%= t ('about.p1') %>" 
	par2  = "<%= t ('about.p2') %>"
	howq1 = "<%= t ('howitworks.q1') %>"
	howa1 = "<%= t ('howitworks.a1') %>"
	howq2 = "<%= t ('howitworks.q2') %>"
	howa2 = "<%= t ('howitworks.a2') %>"
	howq3 = "<%= t ('howitworks.q3') %>"
	howa3 = "<%= t ('howitworks.a3') %>"
	howq4 = "<%= t ('howitworks.q4') %>"
	howa4 = "<%= t ('howitworks.a4') %>"
	howq5 = "<%= t ('howitworks.q5') %>"
	howa5 = "<%= t ('howitworks.a5') %>">	
</ap-about-directive>

<section id="donation" ng-controller="authenticationCtrl"  ng-class="{'step1': !loggedIn, 'step2': loggedIn } ">
	<div class="fondo"></div>
	<div class="ornamental"></div>

	<ap-donation-directive>
		<div id="container_app" >
		<span  ng-show="!loggedIn">
			<%= image_tag 'donationbgOff2.png', :class => 'title' %>
		</span>

			<div ng-show="!loggedIn"> 
				<p class="copy" ><%= t ('donate.copy1') %></p>
				<p id="DonateFacebook" class="buttonCont" ng-click="IntentLog()">
					<%= image_tag 'donationbuttonfb.png', :class => 'click' %>
				</p>
				<p class="buttonCont" >
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="GLBS9HTK2HS62">
					<input id="DonateJust" type="image" src="http://www.onedollaritem.org/images/donationbutton.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
					<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
					</form>
				</p>
			</div>

			
			<div ng-show="loggedIn">
				<p class="copy" ><%= t ('donate.copy2') %></p>
				<div ng-controller="paymentCtrl">  
				
				<ul id="itemsFlow">
				
				<% @items.each do |item| %>
					<li class="item" >	
						
						<div class="itemView">
							<figure>
								<%= image_tag item.img %>
								
							</figure>
							<div class="infoItem">
							
								<div class="itemSpec">	
									<p class="item_name green">
										<%=item.name %>
									</p>	
									<p class="item_des">
										<%=item.description %>
									</p>		
								</div>
								<div class="ownerSpec">
									<p class="green"><%= t ('donate.owner') %></p>
									<p><%=item.user.name %></p>	
								</div>
							</div>

							<figure>
								<img  id="userImage" ng-src="http://graph.facebook.com/<%=item.user.fb_id %>/picture?width=100&height=100" alt="">
							</figure>
							
						</div>

						<form id="buyy" method="post" name="buyy" ng-if="userSession != <%=item.user.fb_id %>">
							<input type="hidden" name="cmd" id="cmd" value="_s-xclick">
							<input type="hidden" name="encrypted" id="encrypted">
							<p>
								<span ng-click="Checkout( '<%= item.description %>', '<%= item.img %>' )">
									<%= image_tag 'donatebutton.png', :class => 'click' %>
								</span>
							</p>
						</form>
						<span ng-controller="shareMenuCtrl" ng-if="userSession == <%=item.user.fb_id %> ">
							<span ng-click="shareFacebook(2, '<%= item.img %>' )">
									<%= image_tag 'donatesharebutton.png', :class => 'click shareMyItem' %> 
							</span>
							
						</span>
		
					</li>

				<% end %>
				</ul>

				</div>

			</div>
		</div>
	</ap-donation-directive>

</section>
	

