<ap-about-directive 
	title = "<%= t ('about.title') %>" 
	par1  = "<%= t ('about.p1') %>" 
	par2  = "<%= t ('about.p2') %>"
	howq1 = "<%= t ('howitworks.q1') %>"
	howa1 = "<%= t ('howitworks.a1') %>"
	howq2 = "<%= t ('howitworks.q2') %>"
	howa2 = "<%= t ('howitworks.a2') %>"
	howq3 = "<%= t ('howitworks.q3') %>"
	howa3 = "<%= t ('howitworks.a3') %>"
	howq4 = "<%= t ('howitworks.q4') %>"
	howa4 = "<%= t ('howitworks.a4') %>"
	howq5 = "<%= t ('howitworks.q5') %>"
	howa5 = "<%= t ('howitworks.a5') %>">	
</ap-about-directive>

<section id="donation">

	<div ng-controller="authenticationCtrl" >
		
		<button ng-show="!loggedIn" ng-click="IntentLog()">Facebook</button>
		<div id="status">
		</div>
		<div ng-show="loggedIn">
			<!-- <img  id="photoUrl" src="" alt=""> -->
			<div ng-controller="paymentCtrl">  
	
			<% @items.each do |item| %>
				<div class="item">	
					<span class="item_des">
						<%=item.description %>
					</span>				
					<span class="item_condition">
						<%=item.condition.description %>
					</span>
					<span class="item_belong">
						<%=item.user.name %>
						<img ng-src="http://graph.facebook.com/<%=item.user.fb_id %>/picture?type=small" alt="">
					</span>
						
					<%=item.img %>
					<div ng-click="CloseLightBox( <%=item.id %> )"> Change </div>

					
					<form action="https://www.sandbox.paypal.com/cgi-bin/webscr?" method="post">
						<input type="hidden" name="cmd" id="cmd" value="_s-xclick">
						<input type="email" name="email" id="email" ng-model="donateData.email">
						<input type="hidden" name="encrypted" id="encrypted" value="<%= paypal_encrypted(item.description) %>">
						<p>
							<button ng-click="Checkout()">Donate</button>
						</p>
					</form>
					
					

				</div>
			<% end %>


			</div>

		</div>
		
	</div>
</section>
	

