<section id="counter">

	<div class="ornamental"></div>
	
	<%= image_tag 'circulo conteo.gif', :class => 'whiteroll' %>

	<div class="itemsGreen"></div>

	<div id="countdown">
		<%= image_tag '{{days}}.png', :id => 'numberdays' %>
		<br>
		<%= image_tag 'daysLeft.png', :id => 'daysLeft' %>
	</div>

	<div id="initshare">
		<a target="_blank" href="https://www.facebook.com/pages/Mesa-de-las-Tablas-Longboarding-Spot/316121765098532?fref=ts">
			<%= image_tag 'facebook-icon.png', :id => "facebook" %>
		</a>
		<a target="_blank" href="https://instagram.com/venados_longboarding/">
			<%= image_tag 'instagram-icon.png', :id => "instagram" %>
		</a>
	</div>

</section>