<section id="team">
	
	<div class="fondo"></div>
	<div class="ornamental"></div>
	<div class="title"></div>
	<div class="kid"></div>

	<div id="gallerybutton">
		
			<ap-lightbox-directive but="video">
				<div id ="videoLightBox" class="content">	
					<iframe src="https://player.vimeo.com/video/124045121" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</ap-lightbox-directive>
	
			<ap-lightbox-directive but="photo">
				<div id ="photoLightBox" class="content">			
					<ul>
						<li class="activeTeam"> <%= image_tag 'photos/_DSC1912.jpg' %></li>
						<!--
						<li> <%= image_tag "photos/_DSC1915.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0189.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0226.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0339.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0362.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0389.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0393.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0493.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0497.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0520.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0548.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0558.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0563.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0567.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0584.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0614.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0622.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0635.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0644.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0657.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_0662.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_1915.jpg" %> </li>
						<li> <%= image_tag "photos/_MG_1926.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_0901.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4036.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4115.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4127.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4150.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4174.jpg" %> </li>
						<li> <%= image_tag "photos/IMG_4196.jpg" %> </li>
						<li> <%= image_tag "photos/P1050379.jpg" %> </li>
						-->
					</ul>

					<%= image_tag 'botonregresar.png', :class => 'prev' %>
					<%= image_tag 'botonregresar.png', :class => 'next' %>
				</div>
			</ap-lightbox-directive>
		
	</div>
	
	<div class="text">
		
		<p>
			<span>
				{{par1}}
			</span> 
			{{par2}}
		</p>
		<p>
			{{par3}}
		</p>

		<ap-lightbox-directive but="metthekids">
			<div  id="meetthe" class="content">
				<ul>
					<li id="irving" class="activeTeam">
						<%= image_tag 'irvingFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'Irving.png' %>
							<p class="des" >
								{{irvingdes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{irvinginfo}}
							</p>
						</div>
						
					</li>
					<li id="hector">
						<%= image_tag 'hectorFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'hector.png' %>
							<p class="des" >
								{{hectordes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{hectorinfo}}
							</p>
						</div>
						
					</li>
					<li id="gerardo">
						<%= image_tag 'geraFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'gera.png' %>
							<p class="des" >
								{{gerardodes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{gerardoinfo}}
							</p>
						</div>
						
					</li>
					<li id="ulises">
						<%= image_tag 'ulisesFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'ulises.png' %>
							<p class="des" >
								{{ulisesdes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{ulisesinfo}}
							</p>
						</div>
						
					</li>
					
				</ul>

				<%= image_tag 'diamantes.png', :class => 'diamantes' %>

				<%= image_tag 'botonregresar.png', :class => 'prev' %>
				<%= image_tag 'botonregresar.png', :class => 'next' %>

			</div>
		</ap-lightbox-directive>
		
	</div>

</section>