<section id="team">

	<div class="ornamental"></div>
	<div class="title"></div>
	<div class="kid"></div>

	<div id="gallerybutton">
		
			<ap-lightbox-directive but="video">
				<div id ="videoLightBox" class="content">	
					<iframe src="https://player.vimeo.com/video/124045121" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</ap-lightbox-directive>
	
			<ap-lightbox-directive but="photo">
				<div id ="photoLightBox" class="content">			
					<ul>
						<li class="activeTeam">  
							<%= image_tag 'irvingFace.png' %>
						</li>
						<li>
							<%= image_tag 'irvingFace.png' %>
						</li>
						<li>
							<%= image_tag 'irvingFace.png' %>
						</li>
						<li>
							<%= image_tag 'irvingFace.png' %>
						</li>
					</ul>

					<%= image_tag 'botonregresar.png', :class => 'prev' %>
					<%= image_tag 'botonregresar.png', :class => 'next' %>
				</div>
			</ap-lightbox-directive>
		
	</div>
	
	<div class="text">
		
		<p>
			<span>
				{{par1}}
			</span> 
			{{par2}}
		</p>
		<p>
			{{par3}}
		</p>

		<ap-lightbox-directive but="metthekids">
			<div  id="meetthe" class="content">
				<ul>
					<li id="irving" class="activeTeam">
						<%= image_tag 'irvingFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'Irving.png' %>
							<p class="des" >
								{{irvingdes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{irvinginfo}}
							</p>
						</div>
						
					</li>
					<li id="hector">
						<%= image_tag 'hectorFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'hector.png' %>
							<p class="des" >
								{{hectordes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{hectorinfo}}
							</p>
						</div>
						
					</li>
					<li id="gerardo">
						<%= image_tag 'geraFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'gera.png' %>
							<p class="des" >
								{{gerardodes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{gerardoinfo}}
							</p>
						</div>
						
					</li>
					<li id="ulises">
						<%= image_tag 'ulisesFace.png', :class => 'face' %>
						<div class="contentTeam">
						<%= image_tag 'ulises.png' %>
							<p class="des" >
								{{ulisesdes}}
							</p>
							<%= image_tag 'adonroAbout.png' %>
							<p class="info">
								{{ulisesinfo}}
							</p>
						</div>
						
					</li>
					
				</ul>

				<%= image_tag 'diamantes.png', :class => 'diamantes' %>

				<%= image_tag 'botonregresar.png', :class => 'prev' %>
				<%= image_tag 'botonregresar.png', :class => 'next' %>

			</div>
		</ap-lightbox-directive>
		
	</div>

</section>