<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width">
  </head>
<body>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61770081-1', 'auto');
  ga('send', 'pageview');

</script>

	<ap-menu-directive>
	</ap-menu-directive>

	<ap-loader-directive>
	</ap-loader-directive>

	<div id="app" >
		<div id="deck" class="unloaded" >
			<div class="relativeContent">
			
			<%= image_tag 'logo.png', :class => "center", :id => "logoonedollar" %>

			<a target="_blank"  href="https://www.facebook.com/pages/Patrick-Switzer/112740925432954?fref=ts">
				<%= image_tag 'button-patrick.png', :class => "center" %>
			</a>
			
				<%= yield %>
				
				<ap-about-directive 
					title = "<%= t ('about.title') %>" 
					par1  = "<%= t ('about.p1') %>" 
					par2  = "<%= t ('about.p2') %>"
					howq1 = "<%= t ('howitworks.q1') %>"
					howa1 = "<%= t ('howitworks.a1') %>"
					howq2 = "<%= t ('howitworks.q2') %>"
					howa2 = "<%= t ('howitworks.a2') %>"
					howq3 = "<%= t ('howitworks.q3') %>"
					howa3 = "<%= t ('howitworks.a3') %>"
					howq4 = "<%= t ('howitworks.q4') %>"
					howa4 = "<%= t ('howitworks.a4') %>"
					howq5 = "<%= t ('howitworks.q5') %>"
					howa5 = "<%= t ('howitworks.a5') %>">	
				</ap-about-directive>	


				<ap-team-directive
					par1="<%= t ('team.p1') %>"
					par2="<%= t ('team.p2') %>"
					par3="<%= t ('team.p3') %>"
					irvingdes="<%= t ('irving.des') %>"
					irvinginfo="<%= t ('irving.info') %>"
					hectordes="<%= t ('hector.des') %>"
					hectorinfo="<%= t ('hector.info') %>"
					gerardodes="<%= t ('gerardo.des') %>"
					gerardoinfo="<%= t ('gerardo.info') %>"
					ulisesdes="<%= t ('ulises.des') %>"
					ulisesinfo="<%= t ('ulises.info') %>"
					>		
				</ap-team-directive>
				

				<ap-share-directive>		
				</ap-share-directive>

				<span ng-controller="shareMenuCtrl">
					<span class="click" ng-click="shareFacebook(1)">
						<%= image_tag 'shareButton.png', :id =>"shareFacebook" %>
					</span>
				</span>
			</div>
		</div>
	
	</div>

	<footer id="sponsors">
		<p>PRESENTED BY:</p>
		<div id="sponsorLogos">
			<%= image_tag 'sopnsorRayne.png' %>
			<%= image_tag 'sopnsorHolsom.png' %>
			<%= image_tag 'sopnsorTriple.png' %>
			<%= image_tag 'sopnsorEdge.png' %>
			<%= image_tag 'sopnsorOrangatan.png' %>
		</div>


		<%= image_tag 'footerBar.png' %>
		<p>
			Copyright © 2015 by One Dollar Item & Digital Invaders	
		</p>
		<%= image_tag 'footerBar.png' %>

	</footer>

	<ap-contact-directive>
	</ap-contact-directive>
  </body>
</html>
