<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  </head>
<body>

	<ap-menu-directive>
	</ap-menu-directive>

	<div id="app" >
		<div id="deck" >
			<div class="relativeContent">

				<%= yield %>
				
				<ap-about-directive 
					title="<%= t ('about.title') %>" 
					title2="<%= t ('about.title2') %>" 
					par1="<%= t ('about.p1') %>" 
					par2="<%= t ('about.p2') %>">	
				</ap-about-directive>	

				<ap-team-directive>		
				</ap-team-directive>
				
				<ap-share-directive>		
				</ap-share-directive>

			</div>
		</div>
	
	</div>

	sponsores

  </body>
</html>
