<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  </head>
<body>

	<ap-menu-directive>
	</ap-menu-directive>

	<div id="app" >
		<div id="deck" >
			<div class="relativeContent">

				<%= yield %>
				
				<ap-about-directive 
					title="<%= t ('about.title') %>" 
					title2="<%= t ('about.title2') %>" 
					par1="<%= t ('about.p1') %>" 
					par2="<%= t ('about.p2') %>">	
				</ap-about-directive>	

				<ap-team-directive
					par1="<%= t ('team.p1') %>"
					par2="<%= t ('team.p2') %>"
					par3="<%= t ('team.p3') %>">		
				</ap-team-directive>
				
				<ap-share-directive>		
				</ap-share-directive>

				<%= image_tag 'shareButton.png', :id =>"shareFacebook" %>
			</div>
		</div>
	
	</div>

	<footer id="sponsors">
		<p>PRESENTED BY:</p>
		<div id="sponsorLogos">
			<%= image_tag 'sopnsorRayne.png' %>
			<%= image_tag 'sopnsorHolsom.png' %>
			<%= image_tag 'sopnsorTriple.png' %>
			<%= image_tag 'sopnsorEdge.png' %>
			<%= image_tag 'sopnsorOrangatan.png' %>
		</div>


		<%= image_tag 'footerBar.png' %>
		<p>
			Copyright © 2015 by One Dollar Item & Digital Invaders	
		</p>
		<%= image_tag 'footerBar.png' %>

	</footer>

  </body>
</html>
