<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width">
  <meta property="og:site_name" content="One Dollar Item"/>
  <meta property="og:url"
  content="http://www.onedollaritem.org" />
  <meta property="og:description" content="Our mission is to take the young crew of riders from the rural community of Mesa de las Tablas to compete in the Maryhill Festival of Speed 2015." />
  </head>
<body>
<!-- KISSmetrics tracking snippet -->
<script type="text/javascript">var _kmq = _kmq || [];
var _kmk = _kmk || 'c266acec90f93c44aa8fc17a888aa899370630d8';
function _kms(u){
  setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
  }, 1);
}
_kms('//i.kissmetrics.com/i.js');
_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>

<!-- KISSmetrics tracking snippet -->
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-61770081-1', 'auto');
	  ga('send', 'pageview');

</script>

	<ap-menu-directive>
	</ap-menu-directive>

	<ap-loader-directive>
	</ap-loader-directive>

	<div id="app" >
		<div id="deck" class="unloaded" >
			<div class="relativeContent">
			
			<%= image_tag 'logo.png', :class => "center", :id => "logoonedollar" %>

			<a target="_blank"  href="https://www.facebook.com/pages/Patrick-Switzer/112740925432954?fref=ts">
				<%= image_tag 'button-patrick.png', :class => "center" %>
			</a>
				
				<%= yield %>

				<ap-team-directive
					par1="<%= t ('team.p1') %>"
					par2="<%= t ('team.p2') %>"
					par3="<%= t ('team.p3') %>"
					irvingdes="<%= t ('irving.des') %>"
					irvinginfo="<%= t ('irving.info') %>"
					hectordes="<%= t ('hector.des') %>"
					hectorinfo="<%= t ('hector.info') %>"
					gerardodes="<%= t ('gerardo.des') %>"
					gerardoinfo="<%= t ('gerardo.info') %>"
					ulisesdes="<%= t ('ulises.des') %>"
					ulisesinfo="<%= t ('ulises.info') %>"
					>		
				</ap-team-directive>
				

				<ap-share-directive>		
				</ap-share-directive>

				<span ng-controller="shareMenuCtrl">
					<span class="click" ng-click="shareFacebook(1)">
						<%= image_tag 'shareButton.png', :id =>"shareFacebook" %>
					</span>
				</span>
			</div>
		</div>
	
	</div>

	<footer id="sponsors">
		<p>PRESENTED BY:</p>
		<div id="sponsorLogos">
			<%= image_tag 'sopnsorRayne.png' %>
			<%= image_tag 'sopnsorHolsom.png' %>
			<%= image_tag 'sopnsorTriple.png' %>
			<%= image_tag 'sopnsorEdge.png' %>
			<%= image_tag 'sopnsorOrangatan.png' %>
		</div>


		<%= image_tag 'footerBar.png' %>
		<p>
			Copyright © 2015 by One Dollar Item & Digital Invaders	
		</p>
		<%= image_tag 'footerBar.png' %>

	</footer>

	<ap-contact-directive>
	</ap-contact-directive>
  </body>
</html>
