<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  </head>
<body>

	<ap-menu-directive>
	</ap-menu-directive>

	<div id="app" >
		<%= image_tag 'deckClean.png', :id => "deck" %>
		<div class="relativeContent">
			<%= yield %>
		</div>
	</div>



  </body>
</html>
